@import '~bootstrap/scss/bootstrap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{

    .blue-section{
        height: 20px;
        background-color: rgba(2,130,249,255);
    }

    a{
        text-decoration: none;
    }
    
    ul{
        list-style: none;
        margin-top: 2rem;
    }
    
    li{
        height: 100%;
        padding: 1rem;
        font-size: 16px;
    }
    
    .active {
        color: rgba(2,130,249,255);
        border-bottom: 3px solid rgba(2,130,249,255);
        padding-bottom: 2em;
    }

}

main{

    .img-comcic{
        background-image: url('../images/jumbotron.jpg');
        background-size: cover;
        height: 350px;
    }

    .upper-title {

        position: relative;
    
        .title{
          background-color: rgba(2,130,249,255);
          width: 250px;
          padding: 15px;
          text-align: center;
          color: white;
          position: absolute;
          top: -25px;
          left: 100px;
          font-weight: bold;
        }
    }
    
    .black {
        background-color: rgba(28,28,28,255);
        text-align: center;
        padding: 2rem;
    }

    .fumetto{
        width: calc(15%);
        text-align: center;
        margin: 5px;
        padding: 1rem;
        color: white;

        img{
            width: 100%;
        }
    }

    .button_load {
        margin-bottom: 3em;
        color: white;
        padding: 1em 2em;
        background-color: rgba(2,130,249,255);
        border: none;
        cursor: pointer;
        font-weight: bold;
    }

}